
@font-face {
  font-family: 'Brandon_blk';
  src: url("../assets/fonts/brandonblk/Brandonblk.woff2") format('woff2'), url("../assets/fonts/brandonblk/Brandonblk.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon_reg';
  src: url("../assets/fonts/brandonreg/Brandon_reg.woff2") format('woff2'), url("../assets/fonts/brandonreg/Brandon_reg.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  color: #3c3c3c;
}

.persoon_foto {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

.profielfoto {
  margin-top: -.5rem;
}

.voeg_zelf {
  font-family: "Brandon_blk";
  font-size: 1.2rem;
  margin-bottom: -.4rem;
}

.big-add {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.themas {
  margin-top: 2rem;
}

.purple-background-thema {
  background-color:#3e2749;
  width: 100vw;
}

.toevoegen-thema {
  margin-bottom: 2rem;
}

.voegtoe {
  display: flex;
}

.landing-page-input {
  border-bottom: none;
  background: transparent;
  color: white;
  font-family: 'Brandon_reg';
  font-size: 1.8rem;
  border: none;
  margin-top: 8rem;
}

.landing-page-input:focus {
  outline: none;
}

.landing-page-input::placeholder {
  color: white;
  font-family: 'Brandon_reg';
  font-size: 1.8rem;
}

p {
  font-family: 'Brandon_reg';
  font-size: 1.3rem;
}

h3 {
  margin-bottom: 0rem;
}

.facebook-link {
  color: #3c3c3c;
  font-family: 'Brandon_blk';
  font-size: 1.6rem;
  text-decoration: none;
}

.facebook-link:hover {
  color: #3c3c3c;
}

.link-open {
  color: white;
  text-decoration: underline;
  font-family: 'Brandon_reg';
  font-size: 1.4rem;
  width: 10rem;
}

.link-open:hover {
  color: white;
  text-decoration: none;
}

.list-items-toegevoegd {
  color: white;
  font-family: 'Brandon_reg';
  font-size: 1.5rem;
  width: 15rem;
  word-wrap: break-word;
}

.tekst-popover-lijst {
  margin-top: 3rem;
  margin-left: -8rem;
}

.card-header-lijst {
  background-color: white;
  filter: drop-shadow(0 0 2px #333);
  border: none;
}

.card {
  filter: drop-shadow(0 0 2px #333);
  border: none;
  border-radius: 0rem;
  font-style: none;
  color: #3c3c3c;
  transition: transform .3s;
}

.card:hover {
  text-decoration: none;
  color: #3c3c3c;
  transform: scale(1.05);
}

.nav-link {
  background-color: white;
  color: black;
}

.display-4 {
  font-family: 'Brandon_blk';
  font-size: 4rem;
}

.optie_gemeente {
  list-style: none;
  font-family: 'Brandon_reg';
  font-size: 1.2rem;
}

.title {
  font-family: 'Brandon_blk';
  font-size: 1.5rem;
  text-transform: lowercase;
}

.title::first-letter {
  text-transform: capitalize;
}

.boost {
  font-family: 'Brandon_reg';
  font-size: 1.1rem;
}

.subtitle {
  font-family: 'Brandon_blk';
  font-size: 1.5rem;
  color: #4ac1d4;
}

.emoji {
  font-size: 1.6rem;
}

.border-boost {
  margin-top: 2rem;
  margin-left: -1.3rem;
  border: .1rem solid #c9c9c9;
  padding-bottom: .2rem;
  padding-top: 1.2rem;
  border-radius: 10rem;
  height: 2rem;
  width: 12rem
}

.lead-title {
  font-family: 'Brandon_reg';
  font-size: 1.4rem;
}

h3 {
  margin-bottom: 0rem;
}

.lead {
  font-family: 'Brandon_reg';
  font-size: 1.7rem;
}

.lead-footer {
  font-size: 1.2rem;
}

.searchfield {
  border: none;
  background-color: #4ac1d4;
  font-family: 'Brandon_reg';
  color: white;
}

.searchfield:focus {
  outline: none;
}

.searchfield::placeholder {
  color: white;
  font-family: 'Brandon_reg';
  font-size: 1.2rem;
}

.extra-boost {
  margin-top: -1.2rem;
}

.search-group {
  border-bottom: .2rem solid white;
  display: flex;
  align-items: center;
  /* width: 8rem; */
  /* margin: 0 auto; */
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: -1rem;
}

.form-control:focus {
  outline: none;
}

.nav-kies-logo {
  margin-top: 1.5rem;
}

.search-lijst {
  border: none;
  border-bottom: .2rem solid #c9c9c9;
  border-left: none;
  border-top: none;
  border-right: none;
  border-radius: 0rem;
  color: #c9c9c9;
  font-family: 'Brandon_blk';
  text-transform: uppercase;
  font-size: 17px;
  margin-top: 1rem;
}

.search-lijst:focus {
  outline: none;
  border-bottom: .2rem solid #c9c9c9;
}

.search-lijst::placeholder {
  color: #c9c9c9;
  font-family: 'Brandon_blk';
  font-size: 1.1rem;
  text-transform: uppercase;
}

.meerweten {
  font-family: 'Brandon_reg';
  font-size: 1rem;
}

.form-background {
  background-color: #4ac1d4;
  color: #08293d;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-bottom: 2rem;
  width: 100vw;
}

.kandidaten-overzicht {
  width: 80vw;
  margin: 0 auto;
}

.kandidaten-lijst {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.kandidaten-titel {
  margin-top: 2rem;
}

.form-check-label {
  color: #3c3c3c;
  font-family: 'Brandon_reg';
  font-size: 1.3rem;
}

.suggesties-lijst {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: .5rem;
}

.value-el {
  margin-left: -1.2rem;
}

.klopt-button {
  margin-left: -7rem;
}

.dot {
  margin-right: -12rem;
  background-color: white;
  padding: 1.2rem;
  border: .1rem solid #3c3c3c;
  border-radius: 10rem;
}

.numberr {
  margin-top: -7rem;
  margin-left: -.65rem;
}

.second-number {
  color: #4ac1d4;
}

a:hover {
  text-decoration: none;
}

.background-teken {
  background-image: url(../assets/img/mobile_bol.svg);
  background-repeat: no-repeat;
  width: 282px;
  height: 282px;
  background-size: contain;
  background-position: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.auto {
  margin: 0 auto;
}

.btn {
  background-color: #369ea4;
  border: #369ea4;
}

.btn:hover {
  background-color: #369ea4;
}

.card-header-detail {
  filter: none;
  background-color: transparent;
  border: none;
}

.detail-image {
  -webkit-clip-path: circle(50% at 50% 50%); /* stylelint-disable-line*/
  clip-path: circle(50% at 50% 50%);
  margin-top: -2rem;
  object-fit: cover;
}

.button-terug {
  margin-left: 3rem;
  margin-top: 2rem;
}

.emoji-size {
  font-size: 3rem;
}

.tweet {
  height: 2.5rem;
}

.btn-secondary {
  background-color: white;
  color: black;
  border: #369ea4 .2rem solid;
  border-radius: .5rem;
}

.politieker-img {
  width: 16.9rem;
  height: 18rem;
  size: percentage;
}

.card-title {
  font-family: 'Brandon_blk';
  font-size: 1.4rem;
}

.card-text {
  font-family: 'Brandon_reg';
  font-size: 1.5rem;
}

.footer {
  padding-top: 1rem;
  background-color: #3c3c3c;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.card-footer-lijst {
  margin-left: -4rem;
}

.linken {
  text-decoration: none;
  color: black;
}

.linken:hover {
  text-decoration: none;
}

.popover__tweede_content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transform: translate(-6rem,10px);
  background-color: white;
  border-radius: 1rem;
  padding: .5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  width: 10rem;
  color: black;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Brandon_reg';
  font-size: 1.2rem;
}

.popover__content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transform: translate(-6rem,10px);
  background-color: white;
  border-radius: 1rem;
  padding: .5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  width: 14rem;
  color: black;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Brandon_reg';
  font-size: 1.2rem;
}

.form-popover {
  border-radius: 10rem;
}

.form-popover:focus {
  outline: none;
}

.button {
  background-color: #3c3c3c;
  color: white;
  border: #3c3c3c;
  border-radius: 10rem;
  padding: 0 .5rem;
}

.button-toevoegen {
  background-color: #ebb25e;
  color: white;
  border: #ebb25e;
  border-radius: 10rem;
  padding: .8 .5rem;
  margin-left: 2rem;
}

.button:focus {
  outline: none;
}

.popover__wrapper:hover .popover__content {
  margin-top: -5rem;
  margin-right: 4rem;
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0,-7px);
  transition: all .5s cubic-bezier(.75, -.02, .2, .97);
  text-decoration: none;
}

.popover__message {
  text-align: center;
}

.div-load {
  height: 3rem;
}

.controls {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.carousel-control-prev {
  opacity: 1;
  position: relative;
}

.carousel-control-prev:hover {
  opacity: 1;
}

.carousel-control-next {
  opacity: 1;
  position: relative;
}

.carousel-control-next:hover {
  opacity: 1;
}

.uitleg-image-een {
  margin-top: 8rem;
}

.uitleg-image-twee {
  margin-top: 12rem;
}

.terug {
  color: #3c3c3c;
  font-family: 'Brandon_reg';
  font-size: 1.3rem;
}

.carousel-indicators {
  /* left: 42vw; */
  background-color: transparent;
  bottom: 0rem;
  /* bottom: 3vh; */
}

.carousel-indicators li {
  background-color: transparent;
  background-image: url(../assets/img/lege_bol.svg);
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.carousel-indicators .active {
  background-color: transparent;
  background-image: url(../assets/img/volle_bol.svg);
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.ref-not-found {
  width: 10rem;
}

.pagina-flex {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.footer-item-one {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.gemeente {
  margin-top: .7rem;
}

.uitleg-image {
  display: none;
}

.main-index {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.left-index {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.index-flex {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.main-lead {
  font-size: 1.4rem;
  width: 80vw;
  text-align: center;
}

.terug-carousel {
  display: none;
}

.tekst-uitleg {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.search-icon {
  margin-top: 8rem;
  margin-left: -5rem;
}

.main-carousel {
  display: flex;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
}

.form-control:focus {
  outline: none;
}

.dropdown-thema {
  border: none;
  margin-top: .5rem;
  width: 15rem;
  font-family: 'Brandon_reg';
  font-size: 1.3rem;
}

.search-lijst-group {
  margin-top: 1rem;
}

.focus-search {
  margin-top: -1.5rem;
}

.volgnummer {
  background-color: #ebb25e;
  border: .2rem solid #ebb25e;
  border-radius: 10rem;
  padding-left: .7rem;
  padding-right: .7rem;
  color: white;
  font-family: 'Brandon_blk';
  font-size: 1.3rem;
  margin-right: .5rem;
}

.lijstplaats {
  display: flex;
  align-items: center;
}

.facebook_tweede_login {
  width: 80vw;
  margin: 0 auto;
}

.titel-popup {
  text-align: center;
  font-family: 'Brandon_blk';
  font-size: 1.8rem;
}

.intro-popup {
  text-align: center;
  font-family: 'Brandon_reg';
  font-size: 1.4rem;
  width: 70vw;
  margin: 0 auto;
  padding-top: 1rem;
  margin-bottom: -2rem;
}

.beleidsthema-div {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 80vw;
}

.popup-heading-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
  padding-top: 3rem;
}

.edit-toevoegen {
  width: 80vw;
  margin: 0 auto;
  text-align: left;
}

.popup-listitem {
  font-family: 'Brandon_blk';
  font-size: 1.3rem;
}

@media only screen  and (min-width: 1024px) {

  .facebook_tweede_login {
    width: auto;
    margin: 0;
  }

  .overzicht-header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
  }

  .kandidaten-titel {
    margin-top: 0;
  }

  .search-group-flex {
    margin-bottom: -1rem;
    width: 10rem;
  }

  .overzicht-div {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  .form-background {
    background-color: #4ac1d4;
    min-height: 100vh;
    max-height: 1000vh;
    overflow-y: inherit;
    color: #08293d;
    width: 25%;
    align-self: stretch;
  }

  .main_index {
    background-image: url(../assets/img/boven-img.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-position-x: 73vw;
  }

  .home {
    height: 100vh;
  }

  .index-flex {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    width: 80vw;
    margin: 0 auto;
    padding-top: 8rem;
  }

  .terug-carousel {
    display: inherit;
  }

  .terug-div {
    border: solid #3c3c3c .2rem;
    border-radius: 10rem;
    padding: .5rem;
    margin-top: -4rem;
    margin-bottom: 3rem;
    width: 8rem;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
  }

  div#dropdownMenuLink.dropdown-toggle::after {
    display: none;
  }

  .uitleg-image {
    display: inherit;
    background-color: #4ac1d4;
    height: 100vh;
    margin: 0 auto;
    width: 50vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .main-carousel {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

  .tekst-uitleg {
    width: 40vw;
    height: 80vh;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 3rem;
    margin-bottom: 0;
  }

  .carousel {
    height: 100vh;
  }

  .controls {
    width: 40vw;
    text-align: right;
  }

  .carousel-indicators {
    left: 50vw;
    bottom: 3vh;
  }

  .carousel-control-prev {
    margin-top: -7rem;
    left: 24vw;
  }

  .carousel-control-next {
    margin-top: -7rem;
    left: 25vw;
  }

  .left-index {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  .main-lead {
    width: 30vw;
    text-align: left;
  }

  .purple-background-thema {
    background-color: transparent;
  }

  .title {
    font-size: 2.5rem;
  }

  .background-shape {
    background-image: url(../assets/img/boven-img.svg);
    background-repeat: no-repeat;
    background-size: inherit;
    /* background-position: top center; */
    background-position: top;
    background-position-x: 25vw;
  }

  .background-purple {
    background-image: url(../assets/img/purple-background.svg);
    background-repeat: no-repeat;
    background-position: top right;
    margin-right: -5rem;
    width: 100vw;
  }

  .pagina-flex {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: top;
    margin-top: 5rem;
    width: 100vw;
  }

  .flex-section {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
  }

  .section-twee {
    width: 50%;
    margin-top: -5rem;
  }

  .div-boven {
    margin-top: 1rem;
    height: 1rem;
  }

  .div-flex {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin-right: auto !important;
    margin-left: auto !important;
  }

  .login-facebook {
    align-self: flex-end;
    margin-right: 2rem;
    margin-top: -10rem;
  }

  .footer-logos {
    display: flex;
  }

  .search-lijst {
    font-size: 20px;
    border-bottom: .2rem solid #c9c9c9;
  }

  .search-lijst-group {
    display: flex;
    align-items: center;
    margin-top: -.6rem;
  }

  .nav-kies-logo {
    width: 92px;
    height: 18px;
    margin-top: 1rem;
  }

  .socials {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .footer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
  }

  .footer-item-one {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 50%;
  }

  .footer-div {
    width: 50%;
  }

  .socials-hd {
    text-align: center;
  }

  .persoon_foto {
    width: 220px;
    height: 220px;
  }

  .boost-h {
    display: flex;
    margin-top: 1rem;
  }

  .big-add {
    margin-left: 1rem;
  }
}

@media only screen  and (min-width: 1440px) {

  .display-4 {
    font-size: 5rem;
  }

  .lead {
    font-size: 1.8rem;
  }

  .background-teken {
    background-image: url(../assets/img/uitroepteken.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    height: 49.5rem;
    width: 46.5rem;
    margin-top: -2rem;
  }

  .home {
    margin-left: 8rem;
  }

  .search-margin {
    margin: 1rem;
    margin-top: 8rem;
    margin-left: 1.5rem;
  }

  .searchfield {
    font-size: 1.7rem;
  }

  .searchfield::placeholder {
    font-size: 1.7rem;
  }

  .meerbutton {
    margin-right: 9rem;
  }

  .meerweten {
    font-size: 1.5rem;
  }

  .gele-home-button {
    width: 4.5rem;
    height: 4.5rem;
  }

  .uitleg-background {
    width: 45vw;
  }

  .tekst-uitleg {
    height: 50vh;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin-left: 8rem;
  }

  .intro-tekst {
    width: 38vw;
  }

  .uitleg-image-een {
    width: 34rem;
    height: 40rem;
  }

  .uitleg-image-twee {
    width: 34rem;
    height: 32rem;
  }

  .kies-partij {
    font-size: 2rem;
  }

  .white-line {
    margin-top: -1rem;
  }

  .font-filter {
    font-size: 1.5rem;
  }

  .background-purple {
    background-image: url(../assets/img/purple-background-hd.svg);
    background-repeat: no-repeat;
    background-position: top right;
  }

  .title {
    font-size: 3rem;
  }

  .list-items-detail {
    font-size: 1.6rem;
  }
}