<!DOCTYPE html>
<html>
<head>
    <title>Edit test</title>

</head>
<body>
{% csrf_token %}
<ul>
    {% for field in fields %}
        <li>
            {{ field.fieldname }}
        <br/>
        Current value: <b>
            {% if accepted_edits|lookup:field.fieldname %}
                {{ accepted_edits|lookup_suggested_value:field.fieldname }}
            {% endif %}
        </b>
            <ul>
                {% for edit in field.suggestedEdits %}
                    <li>
                        {{ edit }}
                        <button onclick="approve({{ edit.politieker.id }}, '{{ edit.field }}', '{{ edit.suggested_value }}')">
                            Approve
                        </button>
                        <ul>
                            {% for approver in edit.approvers %}
                                <li>{{ approver.user_id }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>

            <input type="text" name="suggestedValue" placeholder="Suggereer nieuwe waarde">
            <button name="submitButton" onclick="submitUserEdit(event, '{{ field.fieldname }}')">Verzend</button>
        </li>
    {% endfor %}
</ul>

<script src="/static/js/approuve_system.js" ></script>


</body>
</html>