<!DOCTYPE html>
<html lang="nl" class="width-hack">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KiestZe</title>
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style.css">
  <script>
    WebFontConfig = {
      custom: {
        families: ['Brandon_blk', 'Brandon_reg'],
        urls: ['static/assets/fonts/brandonblk/Brandon_blk.css', 'static/assets/fonts/brandonreg/brandon_reg.css']
      }
    };

    (function (d) {
      var wf = d.createElement('script'),
        s = d.scripts[0];
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
      wf.async = true;
      s.parentNode.insertBefore(wf, s);
    })(document);

  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122933363-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-122933363-1');
  </script>
  <style type="text/css">
    .hide-django {
      display:none;
    }
  </style>
</head>

<body>
  <header class="card-header-lijst card-header overzicht-header">
    <div class="d-flex flex-row search-lijst-group dropdown">
      <img src="static/assets/img/nav-kies.svg" alt="nav-kies" width="92" height="18" class="mt-1">
      <div class="search-lijst-group d-flex flex-row search-group-flex" style="height: 2rem;">
        <div class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <input type="text" class="form-control w-75 search-lijst focus-search" id="search" placeholder="Gemeente"
            name="input_gemeente" autocomplete="off">
        </div>
        <img src="static/assets/img/search-blue.svg" alt="search-blue" width="23" height="23" class="search-blue">
        <ul id="opties_gemeentes" class="dropdown-menu" aria-labelledby="dropdownMenu2">
        </ul>
      </div>
    </div>
    <div class="mr-3 d-flex align-items-bottom popover__wrapper facebook_tweede_login">

      <div class="hide-django">{% if user.is_authenticated %}</div>
            <span id="user_login_span">{{ user }}</span>
        <div class="hide-django">{% else %}</div>
            <a href="/allauth/facebook/login" class="facebook-link">
              <img src="static/assets/img/login_facebook.svg" alt="login_facebook" width="227" height="42" class="login-facebook mt-4">
            </a>
        <div class="hide-django">{% endif %}</div>
      <!--
      <img src="static/assets/img/facebook-detail.svg" alt="facebook" width="30" height="30" class="linken">
      {% if user.is_authenticated %}
      <span>{{ user }}</span>
      {% else %}
      <a href="/allauth/facebook/login" class="facebook-link">Log in</a>
      {% endif %}
      -->
      <div class="push popover__content tekst-popover-lijst">
        <p class="popover__message"></p>
        <p class="ml-3"> Om zaken over de kandidaten te bewerken moet je ingelogd zijn.</p>
      </div>
    </div>
  </header>

  <main>
    <div class="overzicht-div">
      <form class="form-background">
        <div class="">
          <div class="mt-4 font-filter">
            <h2 class="lead mt-2" style="color: white;" class="kies-partij">Kies een partij:</h2>
            <img src="static/assets/img/white-line.svg" alt="white_line" width="40" height="3" class="white-line">
            <div id="opties_partijen">
            </div>
            <div id="geen_opties_partijen" style="display:none">
              <i>Deze gemeente zit nog niet in ons systeem :(</i>
            </div>
          </div>
          <div class="mt-4 font-filter">
            <h2 class="lead" style="color: white;">Beleidsthema's</h2>
            <img src="static/assets/img/white-line.svg" alt="white_line" width="40" height="3" class="white-line">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle dropdown-thema" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Beleidsthema
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="beleidsthemas_dropdown">
                <div class="dropdown-item">
                  <input class="form-check-input" type="checkbox" name="partijRadio" id="partijpunt" value="option">
                  <label class="form-check-label" for="partijRadio">Asiel en migratie</label>
                </div>
                <div class="dropdown-item">
                  <input class="form-check-input" type="checkbox" name="partijRadio" id="partijpunt" value="option">
                  <label class="form-check-label" for="partijRadio">Gezondheid</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

      <section class="mt-3 mb-5 kandidaten-overzicht">
        <header class="text-center">
          <h2 class="title kandidaten-titel">Kandidaten voor de gemeente
            <b id="stad_display"></b>
          </h2>
          <img src="static/assets/img/yellow-line.svg" alt="yellow-line" width="56" height="3">
        </header>
        <div id="kanidaaten_lijst" class="kandidaten-lijst">
        </div>
      </section>
    </div>
  </main>

  <footer class="footer">
    <div class="pl-5 footer-div">
      <p style="color: white;" class="lead lead-footer">Onze partners:</p>
      <ul style="list-style: none; margin-left: -2.8rem;" class="footer-item-one">
        <div class="footer-logos">
          <li class="nav-item">
            <a class="mr-3" href="http://2018.summerofcode.be/">
              <img src="static/assets/img/logo-osoc-color.svg" alt="facebook" width="65" height="65" class="mr-3">
            </a>
          </li>
          <li class="nav-item">
            <a class="mr-3" href="https://www.openknowledge.be/">
              <img src="static/assets/img/okbe-logo.svg" alt="twitter" width="65" height="65" class="mr-3">
            </a>
          </li>
        </div>
        <div class="footer-logos">
          <li class="nav-item">
            <a class="mr-3" href="https://openthebox.be/search">
              <img src="static/assets/img/openthebox-logo.svg" alt="mail" width="65" height="65" class="mr-3">
            </a>
          </li>
          <li class="nav-item">
            <a class="mr-3" href="https://vlaanderenkiest.be/verkiezingen2012/">
              <img src="static/assets/img/vlaanderen-logo.svg" alt="mail" width="65" height="65" class="mr-3">
            </a>
          </li>
        </div>
      </ul>
    </div>
    <div class="mr-5">
      <p style="color: white;" class="lead lead-footer">Volg ons op sociale media:</p>
      <ul style="list-style: none;" class="d-flex flex-row justify-content-between w-50">
        <li class="nav-item">
          <a href="https://www.facebook.com/kiestze/">
            <img src="static/assets/img/facebook-boven.png" alt="facebook" width="35" height="35" class="mr-3">
          </a>
        </li>
        <li class="nav-item">
          <a href="https://twitter.com/Kiestze ">
            <img src="static/assets/img/twitter-boven.png" alt="twitter" width="35" height="35" class="mr-3">
          </a>
        </li>
        <li class="nav-item">
          <a href="mailto:kiestze@gmail.com">
            <img src="static/assets/img/mail.svg" alt="mail" width="35" height="35" class="mr-3">
          </a>
        </li>
      </ul>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
  <script src="static/js/boots/bootstrap.bundle.min.js"></script>
</body>


</html>
